* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
    scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
}

/*Navigation*/

.header{
	height: 0px;
    width: 100%;
	position: sticky;
	top: 0;
	z-index: 2;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  padding: 0 10px;
  z-index: 1;
}

.nav__black{
    /* background-color: #000; */
    background-image: linear-gradient(to top,transparent,#111,#000);
}

.nav-left , .nav-right{
  display: flex;
  align-items: center;
}

.nav-right{
  gap: 2.1em;
}

.nav__logo{
  width: 100px;
  object-fit: contain;
}

.nav-links{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  /* transition: all 2s ease-in-out; */
}

.nav-link{
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 10px;
  cursor: pointer;
}

.movies a{
    display: flex;
}

.dropdown-icon {
  font-size: 10px;
  position: relative;
  right: -5px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
}

.movies:hover .dropdown-icon{
  transform: rotate(180deg);
}

/* Dropdown Option */

.nav-link .dropdown li{
  display: block;
}

.nav-link .dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  top: 70px;
}

.nav-link a:hover{
  color: #E39F33;
  border-radius: 0.5rem;
}

.movies:hover ul.dropdown{ 
  display: block;
}

a{
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
    font-size: 18px;
} 

.inputBox_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 11em;
    width: fit-content;
    height: 42px;
    background: transparent;
    border-radius: 0.5em;
    overflow: hidden;
    transition: all 0.3s;
}

.inputBox_container:hover{
    background-color: #111;
    
}

.search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #abb2bf;
}

.inputBox {
background-color: transparent;
color: white;
outline: none;
width: 150%;
border: 0;
padding: 0.5em 1.5em 0.5em 0;
font-size: 1em;
}

::placeholder {
color: #abb2bf;
}

.btn {
    appearance: none;
    background-color: transparent;
    border: 0.12em solid white;
    border-radius: 0.4em;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 550;
    line-height: normal;
    margin: 0;
    margin-right: 20px;
    min-height: 2.8em;
    min-width: 95px;
    outline: none;
    padding: 0.1em 1.9em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
   
.btn:disabled {
    pointer-events: none;
}
   
.btn:hover {
    color: #E39F33;
    background-color: #000000;
    border: 0.12em solid #E39F33;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
}

.myslide {
    height: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 4vw;
    padding: 1vw;
    cursor: pointer;
    color: #fff;
    user-select: none;
}

.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 2vw; 
    cursor: pointer;
}

.dot {
    display: inline-flex;
    position: right;
    width: 1.5vw; 
    height: 1.5vw; 
    border: 0.3vw solid white;
    border-radius: 50%;
    margin: 0 0.5vw;
    cursor: pointer;
}

.txt {
    position: absolute;
    letter-spacing: 0.2vw; 
    line-height: 2vw; 
    top: 80%;
    left: 3%;
}

.txt h1 {
    font-size: 4vw; 
    margin-bottom: 1vw; 
}

.txt p {
    font-weight: bold;
    font-size: 2vw;
}



/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .prev, .next {
        font-size: 6vw;
        padding: 2vw;
    }

    .dotsbox {
        bottom: 4vw;
    }

    .dot {
        width: 3vw;
        height: 3vw;
        border: 0.5vw solid white;
        margin: 0 1vw;
    }

    .txt {
        letter-spacing: 0.3vw;
        line-height: 3vw;
    }

    .txt h1 {
        font-size: 6vw;
        margin-bottom: 2vw;
    }

    .txt p {
        font-size: 3vw;
    }
}

/*Slideshow*/
.slider{
	position: relative;
	width: 100%;
}

.myslide{
	height: 100%;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	user-select: none;
}

.prev:hover, .next:hover{
	color: brown; 
}

.next{
	right: 0;
}

.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}

.dot{
	display: inline-flex;
	position: right;
	width: 15px;
	height: 15px;
	border: 3px solid white;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

/* javascript */
.active, .dot:hover{
	border-color: brown; 
}

.txt{
	position: absolute;
	letter-spacing: 2px;
	line-height: 30px;
	top: 80%;
	left: 3%;
}

.txt h1{
	color: crimson;
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	color: ghostwhite;
	font-weight: bold;
	font-size: 30px;
}

.container {
	position:sticky ;
	width: auto;
  }
  
.image {
	display: block;
	width: auto;
	height: auto;
}
  
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: auto;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
}
  
.container:hover .overlay {
	opacity: 1;
}
  
.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

/* Button to swipe the poster */

.leftBtn{
    position: absolute;
    top: 60.7em;
    left: 15px;
    z-index: 2;
}

.leftBtn-2{
    position: absolute;
    top: 81.6em;
    left: 15px;
    z-index: 2;
}

.leftBtn-3{
    position: absolute;
    top: 119.8em;
    left: 15px;
    z-index: 2;
}

.rightBtn{
    position: absolute;
    top: 60.7em;
    right: 15px;
    z-index: 2;
}

.rightBtn-2{
    position: absolute;
    top: 81.6em;
    right: 15px;
    z-index: 2;
}

.rightBtn-3{
    position: absolute;
    top: 120em;
    right: 15px;
    z-index: 2;
}

.fadeRight{
    position: absolute;
    width: 55px;
    height: 300px;
    top: 51.8em;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to left, transparent, #111, #111);
}

.fadeLeft{
    position: absolute;
    width: 55px;
    height: 300px;
    top: 52.8em;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(to right, transparent, #111, #111);
}

.fadeRight-2{
    position: absolute;
    width: 55px;
    height: 300px;
    top: 72em;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to left, transparent, #111, #111);
}

.fadeLeft-2{
    position: absolute;
    width: 55px;
    height: 300px;
    top: 72em;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(to right, transparent, #111, #111);
}

.fadeRight-3{
    position: absolute;
    width: 55px;
    height: 300px;
    top: 112em;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to left, transparent, #111, #111);
}

.fadeLeft-3{
    position: absolute;
    width: 55px;
    height: 300px;
    top: 112em;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(to right, transparent, #111, #111);
}


/*Poster*/
.row{
    color: white;
    margin-left:20px ;
}

.firstRow{
    padding-top: 3rem;
}

.titles{
    padding-left: 20px;
}

.row_poster{
    max-width: 200px;
    padding-top: 0px;
    object-fit: contain;
    max-height: 100px;
    margin-right: 9px;
    margin: 10px;
    transition: transform 450ms;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    transition: scroll-behavior 450ms;
}


.row_poster:hover{
    transform:scale(1.28);
}


.row_posters::-webkit-scrollbar{
    display: none;
}

.row_posterLarge{
    max-height: 250px;
    border-radius: 0.3rem;
    z-index: 1;
}

/*popular celeb*/
.celebrow{
    color: white;
    margin-left: 30px;
}

.celeb h2{
    padding-left: 20px;
}

.row_celeb{
    display: flex;
    padding: 20px;
    transition: scroll-behavior 450ms;
}

.row_celeb::-webkit-scrollbar{
    display: none;
}

.celeb{
    margin: 5px;
    width: 40%;
}

.celeb img{
    clip-path: circle();
}

/*moving button poster*/
.leftBtn{
    position: absolute;
    padding-top: 60px;
    left: 15px;
    z-index: 2;
}

.leftBtn-2{
    position: absolute;
    padding-top: 60px;
    left: 15px;
    z-index: 2;
}

.leftBtn-4{
    position: absolute;
    padding-top: 100px;
    left: 15px;
    z-index: 2;
}

.leftBtn-5{
    position: absolute;
    padding-top: 100px;
    left: 15px;
    z-index: 2;
}

.rightBtn{
    position: absolute;
    padding-top: 60px;
    right: 15px;
    z-index: 2;
}

.rightBtn-2{
    position: absolute;
    padding-top: 60px;
    right: 15px;
    z-index: 2;
}

.rightBtn-4{
    position: absolute;
    padding-top: 100px;
    right: 15px;
    z-index: 2;
}

.rightBtn-5{
    position: absolute;
    padding-top: 100px;
    right: 15px;
    z-index: 2;
}

/*Poster*/
.row{
    color: white;
    margin-left:20px ;
}

.firstRow{
    padding-top: 3rem;
}

.titles{
    padding-left: 20px;
}

.row_poster-top10{
    max-width: 200px;
    padding-top: 0px;
    max-height: 100px;
    margin-right: 9px;
    margin: 10px;
    transition: transform 450ms;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    transition: scroll-behavior 450ms;
}


.row_poster:hover{
    transform:scale(1.28);
}


.row_posters::-webkit-scrollbar{
    display: none;
}

.row_posterLarge{
    max-height: 250px;
    border-radius: 0.3rem;
    z-index: 1;
}

.movie-card-top10 {
    display: flex;
    position: relative;
    object-fit: contain; 
    margin: 0 30px;
} 

.movie-card-top10 img{
    margin: 0 -15px; 
    width: 100%;
} 

.movie-info-top10 {
    display: none;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top,#000,#111 50%,transparent);
    width: 124%;
    height: 110%;
    color: white;
    margin-left: -17px;
    padding: 10px;
    border-radius: 0.5rem;
    transform: scale(1); 
    transition: transform 45ms;
}

.movie-card:hover .movie-info {
    display: block;
    transform: scale(1.2);
    z-index: 3;
}

.movie-card:hover .row_poster {
    transform: scale(1.2);
    filter: blur(0.9px);
    z-index: 2;
}

.movie-details-top10{
    margin-top: 17px;
}

.movie-title{
    font-size: 14px;
}

.movie-btns{
    display: flex;
}

.movie-btn{
    margin-top: 10px;

}

.movie-btn{
    cursor: pointer;
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 8.3px;
    border-radius: 0.3em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: white;
}

.fa-bookmark {
    padding: 3px;
}

.fa-star{
    margin-right: -2px;
}
.movie-btn:hover{
    color: #000;
    background-color: #E39F33;
    transition: all 0.2s;
} 

.synopsis{
    font-size: 8.5px;
    margin-top: 10px;
}

.rating{
    position: relative;
    padding: 3px 0;
}

.rating .fa-star{
    color: rgb(213, 190, 58);
    font-size: 9px;
}

.rate{
    font-size: 9px;
}

.tags span{
    padding: 0.2em 0.25em;
    color: #fff;
    font-size: 8.2px;
    border-radius: 0.3em;
    border: 1.7px solid rgba(255, 255, 255, 0.5);
}

/*Text on Image*/
.movie-card {
    display: flex;
    position: relative;
    object-fit: contain; 
    margin: 0 21px;
} 

.movie-card img{
    margin: 0 -15px; 
} 

.movie-info {
    display: none;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top,#000,#111 50%,transparent);
    width: 124%;
    height: 110%;
    color: white;
    margin-left: -17px;
    padding: 10px;
    border-radius: 0.5rem;
    transform: scale(1); 
    transition: transform 45ms;
}

.movie-card:hover .movie-info {
    display: block;
    transform: scale(1.2);
    z-index: 3;
}

.movie-card:hover .row_poster {
    transform: scale(1.2);
    filter: blur(0.9px);
    z-index: 2;
}

.movie-details{
    margin-top: 65px;
}

.movie-title{
    font-size: 14px;
}

.movie-btns{
    display: flex;
}

.movie-btn{
    margin-top: 10px;

}

.movie-btn{
    cursor: pointer;
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 8.3px;
    border-radius: 0.3em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: white;
}

.fa-bookmark {
    padding: 3px;
}

.fa-star{
    margin-right: -2px;
}
.movie-btn:hover{
    color: #000;
    background-color: #E39F33;
    transition: all 0.2s;
} 

.synopsis{
    font-size: 8.5px;
    margin-top: 10px;
}

.rating{
    position: relative;
    padding: 3px 0;
}

.rating .fa-star{
    color: rgb(213, 190, 58);
    font-size: 9px;
}

.rate{
    font-size: 9px;
}

.tags span{
    padding: 0.2em 0.25em;
    color: #fff;
    font-size: 8.2px;
    border-radius: 0.3em;
    border: 1.7px solid rgba(255, 255, 255, 0.5);
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.btnSignUp {
    padding-top: 10px;
    background-color: transparent;
    border: 0.12em solid white;
    border-radius: 0.4em;
    color: white;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 550;
    line-height: normal;

    min-height: 2.8em;
    min-width: 95px;
    padding: 0.1em 1.9em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
   
.btnSignUp:disabled {
    pointer-events: none;
}
   
.btnSignUp:hover {
    color: #E39F33;
    background-color: #000000;
    border: 0.12em solid #E39F33;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

/*Follow Us*/

.followUs{
    padding-top: 15px;
    font-size: 17px;
    color: white;
}

.title{
    display: inline-block;
    align-items: center;
}

.followUs li{
    display: inline-block;
    padding: 5px;
    text-align: center;
    list-style: none;
}

.followUs a i{
    transition: all 0.3s ;
}

a:hover i {
    color:#E39F33 !important;
    transform: scale(1.2);
}

.nav__logoFooter{
    width: 75px;
    object-fit: contain;
}

.copyrightFooter {
    color: white;
    font-size: 10px;
    width: 70vh;
    text-align: center;
    padding: 15px; 
}